html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
:root {
  --primary-title-color: #212121;
  --primary-text-color: #757575;
  --accent-color: #2196f3;
  --accent-color2: #ffffff;
  --secondary-background-color: #f5f5f5;
}

body {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  background-color: var(--accent-color2);
  color: var(--primary-title-color);
}
.img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* Page-header */
.page-header {
  margin-bottom: 0;
  /* outline: 2px solid red; */
  border-bottom: 1px solid #ececec;
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  color: #000000;
  letter-spacing: 0.03em;
}

.logo span {
  color: var(--accent-color);
}

.list {
  list-style: none;
}
/* Menu nav - contact-nav */
.menu-nav .link:hover,
.page-link:focus,
.contact-nav a:hover,
.contact-nav a:focus {
  color: var(--accent-color);
}

.menu-nav .link,
.contact-nav a,
.logo {
  text-decoration: none;
  color: inherit;
}
.header {
  display: flex;
  align-items: center;
}
.menu-nav .link,
.contact-nav .link {
  display: block;
}

.menu-nav {
  display: flex;
  margin-left: 93px;
}

.menu-nav .item + .item {
  margin-left: 50px;
}

.contact-nav {
  display: flex;
  margin-left: auto;
}

.contact-nav .item + .item {
  margin-left: 50px;
}

/* Hero */
.hero {
  background-color: #2f303a;
  height: 600px;
  outline: 2px solid red;
  text-align: center;
  /* padding-bottom: 94px; */
}
.hero-title {
  /* font-weight: 900px; */
  font-size: 44px;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  color: var(--accent-color2);
  margin: 0;
  padding-top: 200px;
  padding-bottom: 30px;
}
.hero-button {
  display: inline-block;
  min-width: 216px;
  color: var(--accent-color2);
  background-color: var(--accent-color);
  line-height: 1.9;
  box-shadow: 0, 0, 0, 0.15;
  border: none;
  border-radius: 4px;
  margin-top: 40px;
  padding: 10px 32px;
}

.button:hover,
:focus {
  color: var(--accent-color2);
  cursor: pointer;
}

/*Features*/
.section {
  padding-top: 94px;
}
.section-title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  /* outline: 2px solid red; */
  margin: 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.features-cards {
  display: flex;
  flex-wrap: nowrap;
  gap: 30px;
  padding-left: 0px;
}

/* What do we do */
.work {
  padding-top: 94px;
  padding-bottom: 94px;
}
.gallery-set {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0px;
  justify-content: space-between;
}
.item {
  /* display: block; */
  flex-direction: row;
  text-align: center;
}

/* Our team */
.team {
  background-color: #f5f5f5;
  padding-top: 94px;
  padding-bottom: 94px;
}
.team-list {
  display: flex;
  padding-left: 0px;
  justify-content: space-between;
}
.team-list .li {
  background-color: var(--accent-color2);
  border-radius: 4px;
}
.section-title1,
.section-title2 {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  /* outline: 2px solid red; */
  margin: 0;
}

.section-text {
  font-size: 14px;
  line-height: 1.7;
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: 400;
  /* outline: 2px solid red; */
  /* margin: 0; */
  margin-top: 10px 0px 0px 0px;
}
.member-info {
  margin-top: 30px;
  margin-bottom: 30px;
  /* background-color: var(--accent-color2); */
}
.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  /* outline: 2px solid red; */
  /* margin: 30px 0px 0px 0px; */
}

.position {
  font-size: 16px;
  line-height: 1.2;
  color: var(--primary-text-color);
  /* outline: 2px solid red; */
  margin: 10px 0px 0px 0px;
}
li.team-item {
  border-radius: 0, 0, 4px, 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.footer {
  background-color: #2f303a;
  color: var(--accent-color2);
  outline: 2px solid red;
  margin: 0;
  padding-top: 94px;
}
.address > .a {
  text-decoration: none;
}

span.studio {
  color: var(--accent-color2);
}
a {
  color: var(--accent-color2);
}

/*Portfolio*/
/*Filter*/
.filter-menu {
  display: flex;
  justify-content: center;
}
.filter-list {
  list-style: none;
  display: block;
  text-align: center;
}

.filter-list + .filter-list {
  margin-left: 8px;
}

.filter-button {
  border: 0;
  color: var(--primary-title-color);
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
}
.filter-button:hover,
:focus {
  color: var(--accent-color2);
  background-color: var(--accent-color);
}

/* Projects gallery */
/* .projects {
  display: flex;
  flex-wrap: wrap;
}
.projects {
  padding-left: 0;
} */
.main-potrfolio {
  display: block;
}
.projects-list {
  padding: 0;
  margin: 0;
  list-style: none;

  display: flex;
  flex-wrap: wrap;

  margin-left: -30px;
  margin-top: -30px;
}
.projects-list > .project-set {
  /* outline: #000000 solid 1px; */
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.project-name {
  font-weight: 700;
  font-size: 18px;
  color: var(--primary-title-color);
  margin-top: 20px;
  /* outline: 2px solid red; */
}

.project {
  font-weight: 400;
  font-size: 16px;
  color: var(--primary-text-color);
  margin-bottom: 4px;
  /* outline: 2px solid red; */
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid green;
}

.card-content {
  background-color: yellow;
}
