html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
:root {
  --primary-title-color: #212121;
  --primary-text-color: #757575;
  --accent-color: #2196f3;
  --accent-color2: #ffffff;
  --secondary-background-color: #f5f5f5;
}

body {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  background-color: var(--accent-color2);
  color: var(--primary-title-color);
}

/* Page-header */
.page-header {
  padding-top: 24px;
  padding-bottom: 24px;
  margin-bottom: 0;
  border-bottom: 1px solid #ececec;
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  color: #000000;
  letter-spacing: 0.03em;
}
.logo:hover,
.logo:focus {
  background-color: transparent;
  color: #000000;
}

.logo span {
  color: var(--accent-color);
}

.list {
  list-style: none;
}
/* Menu nav - contact-nav */
.menu-nav .link:hover,
.menu-nav .link:focus,
.page-link:focus,
.contact-nav a:hover,
.contact-nav a:focus {
  color: var(--accent-color);
  background-color: transparent;
}
.active-page {
  color: var(--accent-color);
}

.menu-nav .link,
.contact-nav a,
.logo {
  text-decoration: none;
  color: inherit;
}

.header {
  display: flex;
  align-items: center;
}
.menu-nav .link,
.contact-nav .link {
  display: block;
}

.menu-nav {
  display: flex;
  margin-left: 93px;
}

.menu-nav .item + .item {
  margin-left: 50px;
}

.contact-nav {
  display: flex;
  margin-left: auto;
}

.contact-nav .item + .item {
  margin-left: 50px;
}

/* Hero */
.hero {
  background-color: #2f303a;
  height: 600px;
  text-align: center;
}
.hero-title {
  font-size: 44px;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  color: var(--accent-color2);
  margin: 0;
  padding-top: 200px;
  padding-bottom: 30px;
}
.hero-button {
  display: inline-block;
  min-width: 216px;
  color: var(--accent-color2);
  background-color: var(--accent-color);
  line-height: 1.9;
  box-shadow: 0, 0, 0, 0.15;
  border: none;
  border-radius: 4px;
  margin-top: 40px;
  padding: 10px 32px;
}

.button:hover,
:focus {
  color: var(--accent-color2);
  cursor: pointer;
}

/*Features*/
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.features-cards {
  display: flex;
  flex-wrap: nowrap;
  gap: 30px;
  padding-left: 0px;
}

/* What do we do  */

.our-work {
  padding-top: 0px;
}
.gallery-set {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0px;
  justify-content: space-between;
  margin: 0;
}
.item {
  flex-direction: row;
  text-align: center;
}

/* Our team */
.our-team {
  background-color: #f5f5f5;
}
.team {
  background-color: #f5f5f5;
  /* padding-top: 94px;
  padding-bottom: 94px; */
}
.team-list {
  display: flex;
  padding-left: 0px;
  justify-content: space-around;
  list-style: none;
}
.team-list > li {
  background-color: var(--accent-color2);
  border-radius: 4px;
  margin-left: 30px;
}
.section-title1,
.section-title2 {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0;
  margin-bottom: 50px;
}

.section-text {
  font-size: 14px;
  line-height: 1.7;
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 0;
}
.member-info {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  margin-top: 30px;
  margin-bottom: 10px;
}

.position {
  font-size: 16px;
  line-height: 1.2;
  color: var(--primary-text-color);
  margin: 0px;
  margin-bottom: 30px;
}
.team-list {
  margin: 0px;
}
li.team-item {
  border-radius: 0, 0, 4px, 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 0px;
  margin-left: 0px;
}

.team-item:not(:first-child) {
  padding: 0px;
  margin-left: 30px;
}
.footer {
  background-color: #2f303a;
  color: var(--accent-color2);
  margin: 0;
}
.container.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.address {
  margin-top: 20px;
  font-style: normal;
}
.address > a {
  display: inline-block;
  text-decoration: none;
  font-family: inherit;
  margin-bottom: 9px;
}

span.studio {
  color: var(--accent-color2);
}
a {
  color: var(--accent-color2);
}

/*Portfolio*/
/*Filter*/

.filter-menu {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  margin: 0;
}
.filter-list {
  list-style: none;
  display: block;
  text-align: center;
}

.filter-list + .filter-list {
  margin-left: 8px;
}

.filter-button {
  border: 0;
  color: var(--primary-title-color);
  background-color: #f5f4fa;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  padding: 6px 22px;
}
.filter-button:hover,
:focus {
  color: var(--accent-color2);
  background-color: var(--accent-color);
}

.main-potrfolio {
  display: block;
}
.projects-list {
  padding: 0;
  margin: 0;
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.project-set {
  flex-basis: calc((100% - 60px) / 3);
}

.project-name {
  font-weight: 700;
  font-size: 18px;
  color: var(--primary-title-color);
  margin-top: 20px;
  margin: 0px;
}

.project {
  font-weight: 400;
  font-size: 16px;
  color: var(--primary-text-color);
  margin-top: 4px;
  margin-bottom: 0px;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

.card-content {
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  padding: 20px 24px;
  padding-right: ;

  text-align: left;
}

.project-name {
  margin-top: 4px;
}
